In [67]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [4]:
data=pd.read_csv("./notebook/Loan_Default.csv")

In [5]:
data.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [14]:
data.shape

(148670, 34)

In [6]:
data.duplicated().sum()

np.int64(0)

In [86]:
data.columns

Index(['loan_amount', 'term', 'property_value', 'income', 'Credit_Score',
       'LTV', 'Status', 'dtir1', 'loan_limit_ncf', 'Gender_Joint',
       'Gender_Male', 'Gender_Sex Not Available', 'approv_in_adv_pre',
       'loan_type_type2', 'loan_type_type3', 'loan_purpose_p2',
       'loan_purpose_p3', 'loan_purpose_p4', 'Credit_Worthiness_l2',
       'open_credit_opc', 'business_or_commercial_nob/c',
       'Neg_ammortization_not_neg', 'interest_only_not_int',
       'lump_sum_payment_not_lpsm', 'construction_type_sb',
       'occupancy_type_pr', 'occupancy_type_sr', 'Secured_by_land',
       'total_units_2U', 'total_units_3U', 'total_units_4U',
       'credit_type_CRIF', 'credit_type_EQUI', 'credit_type_EXP',
       'co-applicant_credit_type_EXP', 'age_35-44', 'age_45-54', 'age_55-64',
       'age_65-74', 'age_<25', 'age_>74', 'submission_of_application_to_inst',
       'Region_North-East', 'Region_central', 'Region_south',
       'Security_Type_direct'],
      dtype='object')

In [74]:
data.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('bool')], dtype=object)

In [75]:
data.select_dtypes(include="object").columns

Index([], dtype='object')

In [21]:
num_cols=data.select_dtypes(include="number").columns

In [48]:
missing_percent = data.isna().mean() * 100
missing_percent

ID                            0.000000
year                          0.000000
loan_limit                    2.249277
Gender                        0.000000
approv_in_adv                 0.610749
loan_type                     0.000000
loan_purpose                  0.090133
Credit_Worthiness             0.000000
open_credit                   0.000000
business_or_commercial        0.000000
loan_amount                   0.000000
term                          0.027578
Neg_ammortization             0.081388
interest_only                 0.000000
lump_sum_payment              0.000000
property_value               10.155378
construction_type             0.000000
occupancy_type                0.000000
Secured_by                    0.000000
total_units                   0.000000
income                        6.154571
credit_type                   0.000000
Credit_Score                  0.000000
co-applicant_credit_type      0.000000
age                           0.134526
submission_of_application     0.134526
LTV                          10.155378
Region                        0.000000
Security_Type                 0.000000
Status                        0.000000
dtir1                        16.224524
dtype: float64

In [ ]:

missing_percent[missing_percent > 0]

loan_limit                    2.249277
approv_in_adv                 0.610749
loan_purpose                  0.090133
term                          0.027578
Neg_ammortization             0.081388
property_value               10.155378
income                        6.154571
age                           0.134526
submission_of_application     0.134526
LTV                          10.155378
dtir1                        16.224524
dtype: float64

In [41]:
missing_percent.dtypes

dtype('float64')

In [ ]:
data.drop(["rate_of_interest","Interest_rate_spread","Upfront_charges"],axis=1,inplace=True)

In [51]:
for col in data.columns:
    if data[col].isna().sum() == 0:
        continue
    if data[col].dtype in ['int64', 'float64']:
        data[col].fillna(data[col].median())
    else:
        data[col].fillna(data[col].mode()[0])

In [55]:
data.shape[1]

31

In [ ]:
sns.pairplot(data.select_dtypes(include="number"))
plt.show()

In [66]:
data = pd.get_dummies(data, columns=obj_cols, drop_first=True)

In [77]:
data.drop(['ID', 'year'], axis=1, inplace=True)

In [78]:
from sklearn.model_selection import train_test_split

y = data['Status']
X = data.drop('Status', axis=1)


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [81]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [83]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

model = LogisticRegression(class_weight='balanced', max_iter=500)
model.fit(X_train_scaled, y_train)


y_pred = model.predict(X_test)

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[    1 22405]
 [    6  7322]]
              precision    recall  f1-score   support

           0       0.14      0.00      0.00     22406
           1       0.25      1.00      0.40      7328

    accuracy                           0.25     29734
   macro avg       0.19      0.50      0.20     29734
weighted avg       0.17      0.25      0.10     29734

c:\Users\rohit raj\Desktop\ML\MLProjects\LoanDefaulterPrediction\.venv\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [84]:
print(y_train.value_counts(normalize=True))
print(y_test.value_counts(normalize=True))

Status
0    0.753557
1    0.246443
Name: proportion, dtype: float64
Status
0    0.753548
1    0.246452
Name: proportion, dtype: float64